<h1>Boards</h1>

<% user_group_ids = @current_user.group_ids %>

<ul>
<% @groups.each do |g| %>
    <% if (user_group_ids.include?(g.id) || @current_user.admin) %>
    <li><%= link_to(g.name, board_view_path(g.id)) %></li>
    <% end %>
<% end %>
</ul>