<table>
  <tbody>
    <tr>
      <th>Group ID</th>
      <td>
        <%=  select_tag('settings[group]',
					options_for_select(
						Group.sorted.
                           collect{|group| [group.name, group.id]},
					:selected => @settings['group'].blank? ? 0 : @settings['group'])
					)%>
      </td>
    </tr>
    <tr>
      <th>Ignored status filter</th>
      <td>
        <%=  select_tag('settings[status]',
					options_for_select(
						IssueStatus.sorted.
                           collect{|status| [status.name, status.id]},
					:selected => @settings['status'].blank? ? 0 : @settings['status']),
					:multiple=> true,
					)%>
      </td>
    </tr>
    <tr>
      <th>Idea custom field</th>
      <td>
        <%=  select_tag('settings[idea_custom_field]',
					options_for_select(
						IssueCustomField.sorted.
                           collect{|custom_field| [custom_field.name, custom_field.id]},
					:selected => @settings['idea_custom_field'].blank? ? 0 : @settings['idea_custom_field'])
					)%>
      </td>
    </tr>
    <tr>
      <th>Default roles when adding new members</th>
      <td>
        <%=  select_tag('settings[default_roles]',
          options_for_select(
            Role.sorted.
                           collect{|role| [role.name, role.id]},
          :selected => @settings['default_roles'].blank? ? 0 : @settings['default_roles']),
          :multiple=> true,
          )%>
      </td>
    </tr>

    <tr>
          <th>Pusher - APP ID</th>
          <td>
            <input type="text"
                                           value="<%= settings['pusher_app_id'] %>"
                                           name="settings[pusher_app_id]" />
          </td>
        </tr>
        <tr>
                  <th>Pusher - Key</th>
                  <td>
                    <input type="text"
                                                   value="<%= settings['pusher_key'] %>"
                                                   name="settings[pusher_key]" />
                  </td>
                </tr>
        <tr>
                  <th>Pusher - Secret</th>
                  <td>
                    <input type="text"
                                                   value="<%= settings['pusher_secret'] %>"
                                                   name="settings[pusher_secret]" />
                  </td>
        </tr>
        <tr>
                          <th>Pusher - Cluster</th>
                          <td>
                            <input type="text"
                                                           value="<%= settings['pusher_cluster'] %>"
                                                           name="settings[pusher_cluster]" />
                          </td>
                </tr>
  </tbody>
</table>
